<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boliao.eod"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- only show app in store to users with the following -->
    <!-- <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" /> -->
    <!-- note that only things run by jobscheduler needs the BIND_JOB_SERVICE special permission -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- TODO RECEIVERS 0: add RECEIVE_BOOT_PERMISSIONS -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- TODO NETWORK 0: add INTERNET permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EODApp"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:theme="@style/GdxTheme">

        <!-- TODO SERVICES 8 / RECEIVERS 0: declare static OnBootReceiver w BOOT_COMPLETED intent-filter -->
        <!-- NOTE that this app still needs to be manually launched at least
                  once to register receiver in system -->
<!--        <receiver-->
<!--            android:name=".OnBootReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

        <!-- TODO SERVICES: declare the GameStateService-->
        <!-- QNS: What are the big 4 tags? -->
        <!-- exported="false" limits access to within app -->
        <service
            android:name=".GameStateService"
            android:enabled="true"
            android:exported="true" />

        <!-- IntentServices are auto added here when using the studio UI to create -->
        <service
            android:name=".PasswordGeneratorService"
            android:exported="false" />

        <activity
            android:name=".Splash"
            android:screenOrientation="fullSensor">
            <intent-filter>

                <!-- VIEW allows google to crawl your content -->
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AndroidLauncher"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

    </application>

</manifest>